<%- include("../partials/head.ejs") %>
<%- include("../partials/nav.ejs") %>
<section class="about">
    <img src="/img/bear.png" alt="bear">
    <h1> <span>Oops!</span> this page is under maintenance..!!</h1>
    <h5>Error: This page doesn't exist</h5>
    <a href="/dashboard">Back Dashboard</a>
</section>
<script src="/javascript/dashboard.js" type="module"></script>
<%- include("../partials/body.ejs") %>