<%- include("../partials/head.ejs") %>


<section class="options_container">
    <div class="options">
        <div class="Security_Questions">
            <h4>Secret Questions</h4>
            <span class="securityqtsIcon fa"></span>
            <a href="/api/recovery/secretqts">Take</a>
        </div>
        <div class="Security_Pincode">
            <h4>Pincode</h4>
            <span class="pinIcon fa"></span>
            <a href="/api/recovery/pincode">Take</a>
        </div>
        <div class="Security_email">
            <h4>Receive An Email</h4>
            <span class="emailIcon fa fa-2xl"></span>
            <a href="/api/recovery/email">Take</a>
        </div>
    </div>
</section>
<%- include("../partials/body.ejs") %>