
<section class="container__getscrQt">
    <div class="getscrQt__content">
        <form class="form_getscrQt" action="" method="post">
           
            <h2>Security's Questions</h2>
            <!-- ONE -->
            <h4></h4>
            <label for="answer1">
                <input class="inputsCss " name="answer1" type="text" placeholder="Answer" value="">
            </label>
            <!-- Two -->
            <h4></h4>
            <label for="answer2">
                <input class="inputsCss " name="answer2" type="text" placeholder="Answer" value="">
            </label>
            <!-- Three -->
            <h4></h4>
            <label for="answer3">
                <input class="inputsCss " name="answer3" type="text" placeholder="Answer" value="">
            </label>
            <input class="getscrQtBtn" type="submit" value="Send">
            
        </form>
    </div>
</section>