/*Search Email*/
.search__container{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.searchemail_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 340px;
    height: 250px;
    background-color: #3b4650;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.searchemail_container h3{
    margin-top: 25px;
    font-size: 1.5rem;
    color: #FFD93D;
}
.searchemail_container p{
    padding:  0px 22px;
}
.searchemail_container > form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 90%;
}
.searchemail_container form > label{
    width: 100%;
}
.searchemail_container form > label input{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #a93132;
    font-size: 1.2rem;
    padding-left: 5px;
    text-align: center;
}
.searchemail_container > form button{
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #8f4c4c;
    color: #fff;
    cursor: pointer;
}
.searchemail_container > form button:hover{
    background-color: #a93132;
}

/*Options*/
.options_container{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.options{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 840px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.options > div{
    width: 240px;
    height: 200px;
    background-color: #3b4650;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    outline: none;
    border: 5px solid transparent;
}
.options > div:hover{
    border: 5px solid #FFD93D;
    outline: none;
}
.options > div > h4{
    margin-top: 25px;
    font-size: 1.5rem;
    color: #FFD93D;
}
.options > div > .securityqtsIcon::before{
    content: "\f03a";
}
.options > div > .pinIcon::before{
    content: "\23";
}
.options > div > .emailIcon::before{
    content: "\f0e0";
}
.options > div > a{
    text-decoration: none;
    color: #fff;
    background-color: #8f4c4c;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}
.options > div > a:hover{
    background-color: #a93132;
}

/*Email sent*/
.options_container .modalContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 360px;
    height: 180px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px #1d6cb6a4;
    z-index: 200;
}
.options_container .modalContent h1 {
    color: #a93132;
    text-align: center;
}
.options_container .modalContent .gifContainer {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options_container .modalContent .gifContainer img{
    width: 70px;
    height: 70px;
}
/*Erro pin code*/
.inputError{
    border: 2px solid #a93132;
}

/*Responsive*/
@media screen and (max-width: 835px) {
    .options{
        flex-direction: column;
        max-width: 100vw;
        height: 80vh;
    }
}