<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs" ) %>

<section class="sectionsDashboard">
     <!-- Btns sections -->
        <section class="btn-options">
            <input id="createBtn" type="button" value="+ Create">
            <select name="categories" id="">
                <option selected="selected" value="category">All category</option>
                <option value="home">Home</option>
                <option value="design">Design</option>
                <option value="maintenance">Maintenace</option>
                <option value="service">Service</option>
                <option value="shopping">Shoping</option>
                <option value="work">Work</option>
            </select>
            <select name="levels" id="">
                <option selected="selected" value="all">All Levels</option>
                <option value="high">High</option>
                <option value="middle">Middle</option>
                <option value="low">Low</option>
            </select>
        </section>
        <!-- Task board -->
        <section class="task__container">
            
            <!-- Cateogira card -->
            <div class="category__card-container">
                <h2>Service : 4</h2>
                <div class="task__card-container">
                    <h3>Comprar Lubricante</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, corrupti?</p>
                    <i class="updateIcon fa"></i>
                    <i class="deleteIcon fa"></i>
                    <div class="container_levels" >
                        <p><i class="calendar fa"></i> May 25</p>
                        <p class="colorLevels high">High</p>
                    </div>
                </div>     
            </div>

           
            
            
        </section>
    <!-- modal add task -->
        <section class="modal__container">
            <div class="modal-card">
                <h3>Create New Task</h3>
                <form action="">
                    <label for="title">
                        <input type="text" placeholder="Title">
                    </label>
                    <label for="decriptions">
                        <textarea name="descriptions" id="" cols="30" rows="10" placeholder="Description"></textarea>
                    </label>
                    <select name="categories" id="">
                        <option selected="selected" value="category">All category</option>
                        <option value="home">Home</option>
                        <option value="design">Design</option>
                        <option value="maintenance">Maintenace</option>
                        <option value="service">Service</option>
                        <option value="shopping">Shoping</option>
                        <option value="work">Work</option>
                    </select>
                    <select name="levels" id="">
                        <option selected="selected" value="all">All Levels</option>
                        <option value="high">High</option>
                        <option value="middle">Middle</option>
                        <option value="low">Low</option>
                    </select>
                    <button type="submit">Create</button>
                </form>
            </div>
        </section>
</section>

<script src="/javascript/dashboard.js" ></script>
<%- include("./partials/body.ejs") %>
