<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs" ) %>

<h1>Dashboard</h1>
<section class="sectionsDashboard">

</section>

<script src="/javascript/dashboard.js" ></script>
<%- include("./partials/body.ejs") %>
<%- include("./partials/footer.ejs") %>