<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<main>
    <!-- Intro Section  -->
    <section class="intro">
        <div  class="intro_info">
            <h1>Task<span>App</span></h1>
            <p>Enjoy creating tasks and managing your time in a good way, have control over all your projects keep your tasks organized, and work without any kind of stress, with taskapp you will have a good workflow, get free and join to a big community.</p>
        </div>
        <div class="intro_link">
            <h2><a href="/api/auth/signup">Get start</a></h2>
        </div>
    </section>
    <!-- Task Section -->
    <section  class="task">
        <div class="tasks_container">
            <div class="task1">
                <img src="/img/Tasks1.png" alt="">
            </div>
            <div class="task2">
                <img src="/img/Tasks2.png" alt="">
            </div>
            <div class="task3">
                <img src="/img/Tasks3.png" alt="">
            </div>
            <div class="task4">
                <img src="/img/Task4.png" alt="">
            </div>
            <div class="task5">
                <img src="/img/Tasks5.png" alt="">
            </div>
        </div>
        <div data-aos="fade-right" class="tasks_info">
            <h2>Manage your tasks productively.</h2>
            <ul>
                <li><img src="img/check.png" alt="check">Create your tasks</li>
                <li><img src="img/check.png" alt="check">Put a level of priority</li>
                <li><img src="img/check.png" alt="check">Add deadline</li>
                <li><img src="img/check.png" alt="check">Edit your tasks</li>
                <li><img src="img/check.png" alt="check">Delete Your tasks</li>
                <li><img src="img/check.png" alt="check">View your process</li>
                <li><img src="img/check.png" alt="check">Alert emails</li>
            </ul>
        </div>
    </section>
    <!-- Price Section -->
    <section class="price">
        <h2>Our Pricing</h2>
        <div class="card_Container">
            <div class="free">
                <div class="info">
                    <h2>Free</h2>
                    <h4>$ 0 / mo</h4>
                </div>
                <ul>
                    <li><img src="img/check.png" alt="check">50 tasks</li>
                    <li><img src="img/check.png" alt="check">50 Deadline Emails</li>
                    <li><img src="img/check.png" alt="check">Security Emails Alert</li>
                </ul>
                <div class="btn">
                    <a href="/api/auth/signup">Get Start</a>
                </div>
            </div>
            <div class="standard">
                <div class="info">
                    <h2>Standard</h2>
                    <h4>$ 2.50 / mo</h4>
                </div>
                <ul>
                    <li><img src="img/check.png" alt="check">100 tasks</li>
                    <li><img src="img/check.png" alt="check">100 Deadline Emails</li>
                    <li><img src="img/check.png" alt="check">Backup</li>
                    <li><img src="img/check.png" alt="check">Security Emails Alert</li>
                    <li><img src="img/check.png" alt="check">Email Support</li>
                </ul>
                <div class="btn">
                    <!-- <a href="">Get Start</a> -->
                </div>
            </div>
            <div class="professional">
                <div class="info">
                    <h2>Professional</h2>
                    <h4>$ 4 / mo</h4>
                </div>
                <ul>
                    <li><img src="img/check.png" alt="check">Unlimited tasks</li>
                    <li><img src="img/check.png" alt="check">Unlimited Deadline Emails</li>
                    <li><img src="img/check.png" alt="check">Remainders</li>
                    <li><img src="img/check.png" alt="check">Backup</li>
                    <li><img src="img/check.png" alt="check">Security Emails Alert</li>
                    <li><img src="img/check.png" alt="check">Priority Email Support</li>
                </ul>
                <div class="btn">
                    <!-- <a href="">Get Start</a> -->
                </div>
            </div>
        </div>
    </section>
    <!-- FAG Section -->
    <section class="FAQ">
        <div class="title">
            <h2>General Questions</h2>
        </div>
        <div class="questions">
            <!-- first question -->
            <article class="article-questions">
                <div class="question">
                    <h4>Is it free?</h4>
                <button class="question-btn">
                    <i class="fa up"></i>
                    <i class="fa down"></i>
                </button>
                </div>
                <div class="answer">
                    <p>For the moment this website is completely free, you can use it, but the resources will be limited because all processes (Hosting, sending Emails, cloud data) that help this page work correctly are expensive so it could work or not. </p>
                </div>
            </article>
            <!-- second question -->
            <article class="article-questions">
                <div class="question">
                    <h4>Could My data be in danger?</h4>
                <button class="question-btn">
                    <i class="fa down"></i>
                    <i class="fa up"></i>
                </button>
                </div>
                <div class="answer">
                    <p>We used the highest technology in order to protect your privacy data, if you want to more about it see our terms and conditions and our privacy politics</p>
                </div>
            </article>
            <!-- third question -->
            <article class="article-questions">
                <div class="question">
                    <h4>What happens to my data when I delete my account?</h4>
                <button class="question-btn">
                    <i class="fa down"></i>
                    <i class="fa up"></i>
                </button>
                </div>
                <div class="answer">
                    <p>When you delete your account, all your progress will be deleted as soon as possible automatically.</p>
                </div>
            </article>
            <!-- Fourth question -->
            <article class="article-questions">
                <div class="question">
                    <h4>What technology did you use for this project??</h4>
                <button class="question-btn">
                    <i class="fa down"></i>
                    <i class="fa up"></i>
                </button>
                </div>
                <div class="answer">
                    <p>For backend: We are using Node js and JWT in order to make the process a little bit secure, for Frontend we are using html css and javascript.</p>
                </div>
            </article>
            <!-- Fifth question -->
            <article class="article-questions">
                <div class="question">
                    <h4>How many task can I create if this page is free?</h4>
                <button class="question-btn">
                    <i class="fa down"></i>
                    <i class="fa up"></i>
                </button>
                </div>
                <div class="answer">
                    <p>For the moment you have unlimited tasks</p>
                </div>
            </article>
        </div>
    </section>
   </main>

<%- include("./partials/footer.ejs") %>
<script src="/javascript/home.js"></script>

<%- include("./partials/body.ejs") %>