* {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

/* Main */

main .intro{
    background-image: url("/img/pexels-andrea-piacquadio-3769706.jpg");
    position: relative;
    max-width: 100vw;
    height: 100vh;
    background-position: cover;
}
main .intro .intro_info{
    color: #fff;
    width: 450px;
    position: absolute;
    top: 350px;
    left: 280px;
}

main .intro .intro_info h1{
    font-size: 6rem;
    margin-bottom: 40px;
}
main .intro .intro_info h1 > span{
    color: #d32324;
}
main .intro .intro_link{
    background-color: #9fa2a331;
    text-align: center;
    color: #fff;
    width: 200px;
    height: 40px;
    position: absolute;
    top: 650px;
    left: 800px;
    border-radius: 10px 15px;
}
main .intro .intro_link h2 {
    color: #d32324;
    font-size: 2rem;
}
main .intro .intro_link h2 a{
    text-decoration: none;
    color: rgba(224, 58, 28, 0.932);
}
/* Task Section */
.task{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}
.task .tasks_container{
    position: relative;
    width: 50%;
}
.task .tasks_container > div {
    width: 240px;
    height: 300px;
    background-color: #e98b94;
    border-radius: 20px;
}
.task .tasks_container > div:nth-child(1){
    position: absolute;
    top: -350px;
    left: 250px;
    
}
.task .tasks_container > div:nth-child(2){
    position: absolute;
    top: -20px;
    left: 150px;
}
.task .tasks_container > div:nth-child(3){
    position: absolute;
    top: 50px;
    left: 420px;
}

.task .tasks_info{
    text-align: center;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
}
.task .tasks_info h2{
    color: #d32324;
    font-size: 6rem;
    margin-bottom: 15px;
}
.task .tasks_info p {
    width: 100%;
    text-align: center;
}
/* Ideas Sections */
/* Footer */
footer{
    max-width: 100vw;
    height: 340px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #23272a;
    color: #fff;
}
.footer__content{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer_logoContainer{
    position: relative;
}
.footer_logoContainer .logo__container{
    position: absolute;
    top: -60px;
    left: -80px;
}
.footer_logoContainer h1 > span{
    color: #d32324;
}

footer .email_container > h4{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
footer .email_container .email_form label input{ 
    height: 30px;
    width: 240px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
}
footer .email_container .email_form button{
    height: 30px;
    width: 80px;
    background-color: #d47172;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
footer .email_container .email_form button:hover{
    background-color: #d32324;

}
.footer__content .policy{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer__content .policy > h4{
    font-size: 1.4rem;
}
.footer__content .policy ul > li {
    list-style: none;
    text-align: justify;
    margin: 10px 0px;
}
.footer__content .policy ul > li > a{
    color: #a09b9b;
    font-weight: bold;
    text-decoration: none;
}
.footer__content .policy ul > li > a:hover{
    color: rgb(240, 248, 255);
    transition: 1s;
}

footer .skills_container > h3, footer > h3{
    color: #fff;
}