
.politics,.terms{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    text-align: justify;
}

.politics > h1,
.terms > h1{
    align-self: flex-start;
    font-size: 2rem;
    letter-spacing: 1.5px;
}
.politics > h3,
.terms > h3{
    align-self: flex-start;
    font-size: 1.7rem;
    
}
.politics > p,.politics > h4,
.terms > p,.terms > h4 {
    align-self: flex-start;
    font-size: 1.2rem;
}
.politics > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 130px;
    margin-bottom: 20px;
    align-self: flex-start;
}
.terms > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
    margin-bottom: 20px;
    align-self: flex-start;
}
.politics > a,
.terms > a{
    align-self: flex-start;
    text-decoration: none;
    font-size: 1.1rem;
    color: blue;
    cursor: pointer;
}

