<%- include("../partials/head.ejs") %>
<section class="pinCode">
        <div class="pinCode_container">
            <h2>Enter 6-digit code</h2>
            <hr>
            <p>With this code you will be able to reset your password, or make changes.!!</p>
            <hr>
            <form action="/api/auth/pincode" method="POST">
                <% if(emptyField) {%>
                    <p><%=emptyField%></p>
                <% } %>
                <input type="hidden" name="userid" value="<%= user.id %>">
                <div class="inputGroup">
                    <label for="pin1">
                        <input id="pin" type="number" name="pin1"  maxlength="1"  tabindex="1" placeholder="·" autocomplete="off" required>
                    </label>
                    <label for="pin2">
                        <input id="pin" type="number" name="pin2" maxlength="1" tabindex="2" placeholder="·" autocomplete="off" required>
                    </label>
                    <label for="pin3">
                        <input id="pin" type="number" name="pin3" maxlength="1" tabindex="3" placeholder="·" autocomplete="off" required>
                    </label>
                    <label for="pin4">
                        <input id="pin" type="number" name="pin4" maxlength="1" tabindex="4" placeholder="·" autocomplete="off" required>
                    </label>
                    <label for="pin5">
                        <input id="pin" type="number" name="pin5"  maxlength="1" tabindex="5" placeholder="·" autocomplete="off" required>
                    </label>
                    <label for="pin6">
                        <input id="pin" type="number" name="pin6" maxlength="1" tabindex="6" placeholder="·" autocomplete="off" required>
                    </label>
                </div>
                <button type="submit">Send</button>
            </form>
        </div>
</section>
<script src="/javascript/pincode.js" type="module"></script>
<%- include("../partials/body.ejs") %>