<%- include("../partials/head.ejs") %>

<section class="container__scrQt">
    <div class="scrQt__content meassureSettingsqts">
        <h2>Question's Security</h2>
            <% if(emptyField) {%>
                <p><%=emptyField%></p>
            <% } %>
        <form class="form_scrQt meassureSettingsFormqts" action="/api/auth/secretquestions" method="POST">
            <input type="hidden" name="userid" value="<%= user.id %>">
            <!-- ONE -->
            <label for="question1">
                <select name="question1" id="questionOne" required>
                    <option name="What is your Mother's Name?">What is your Mother's Name?</option>
                    <option name="What is your favorite color?">What is your favorite color?</option>
                    <option name="What is your Pet's Name?">What is your Pet's Name?</option>
                    <option name="What is your favorite movie?">What is your favorite movie?</option>
                    <option name="What is your hobbie?">What is your hobbie?</option>
                    <option name="Where was your born?">Where was your born?</option>
                    <option name="Which is your favorite actor?">Which is your favorite actor?</option>
                    <option name="Which is your favorite actress?">Which is your favorite actress?</option>
                    <option name="Which is your favorite Music Band?">Which is your favorite Music Band?</option>
                    <option name="What is your neigborhood's name?">What is your neigborhood's name?</option>
                    <option name="What is your favorite song?">What is your favorite song?</option>
                </select>
            </label>
            <label for="answer1">
                <input name="answer1" type="text" placeholder="Answer" required autocomplete="off">
            </label>
            <!-- Two -->
            <label for="question2">
                <select name="question2" id="questionTwo" required>
                    <option name="What is your Mother's Name?">What is your Mother's Name?</option>
                    <option name="What is your favorite color?">What is your favorite color?</option>
                    <option name="What is your Pet's Name?">What is your Pet's Name?</option>
                    <option name="What is your favorite movie?">What is your favorite movie?</option>
                    <option name="What is your hobbie?">What is your hobbie?</option>
                    <option name="Where was your born?">Where was your born?</option>
                    <option name="Which is your favorite actor?">Which is your favorite actor?</option>
                    <option name="Which is your favorite actress?">Which is your favorite actress?</option>
                    <option name="Which is your favorite Music Band?">Which is your favorite Music Band?</option>
                    <option name="What is your neigborhood's name?">What is your neigborhood's name?</option>
                    <option name="What is your favorite song?">What is your favorite song?</option>
                </select>
            </label>
            <label for="answer2">
                <input name="answer2" type="text" placeholder="Answer" required autocomplete="off">
            </label>
            <!-- Three -->
            <label for="question3">
                <select name="question3" id="questionThree" required>
                    <option name="What is your Mother's Name?">What is your Mother's Name?</option>
                    <option name="What is your favorite color?">What is your favorite color?</option>
                    <option name="What is your Pet's Name?">What is your Pet's Name?</option>
                    <option name="What is your favorite movie?">What is your favorite movie?</option>
                    <option name="What is your hobbie?">What is your hobbie?</option>
                    <option name="Where was your born?">Where was your born?</option>
                    <option name="Which is your favorite actor?">Which is your favorite actor?</option>
                    <option name="Which is your favorite actress?">Which is your favorite actress?</option>
                    <option name="Which is your favorite Music Band?">Which is your favorite Music Band?</option>
                    <option name="What is your neigborhood's name?">What is your neigborhood's name?</option>
                    <option name="What is your favorite song?">What is your favorite song?</option>
                </select>
            </label>
            <label for="answer3">
                <input name="answer3" type="text" placeholder="Answer" required autocomplete="off">
            </label>
            <input class="scrQtBtn" type="submit" value="Send">
        </form>
    </div>
</section>

<%- include("../partials/body.ejs") %>