<footer>
    <div class="footer__content">
        <div class="footer_logoContainer">
            <div class="logo__container">
                <a href="/"><img src="img/brainLogo.jpeg" alt="brain"></a>
            </div>
            <h1>Task<span>App</span></h1>
        </div>
        <div class="email_container">
            <h4>Subscribe</h4>
            <div class="email_form">
               <form action="/" method="POST">
                <label for="email">
                    <input type="text" name="data" id="email" required>
                </label>
                <button class="button" type="submit" value="Sign Up">Send</button>
               </form>
            </div>
        </div>
        <div class="policy">
            <h4>Policy</h4>
            <ul>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/termsandconditions">Terms and Conditions</a></li>
            </ul>
        </div>
    </div>
    <h3>Eumt07 © 2023</h3>
</footer>