<footer>
    <div class="footer__content">
        <div class="footer_logoContainer">
            <div class="logo__container">
                <a href="/"><img src="img/brainLogo.jpeg" alt="brain"></a>
            </div>
            <h1>Task<span>App</span></h1>
        </div>
        <div class="skills_container">
            <h4>Skills</h4>
            <div class="skills_img_container">
                <img src="img/html.png" alt="js">
                <img src="img/css.png" alt="js">
                <img src="img/js.png" alt="js">
                <img src="img/node.png" alt="js">
            </div>
        </div>
        <div class="policy">
            <h4>Policy</h4>
            <ul>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
    </div>
    <h3>Eumt07 © 2023</h3>
</footer>