<header>
    <nav>
        <div class="logo__container">
            <a href="/"><img src="img/brainLogo.jpeg" alt="Logo"></a>
        </div>
        <ul class="nav_content">
            <li><a href="/api/auth/signin">Login</a></li>
            <li><a href="/api/auth/signup">SignUp</a></li>
        </ul>
    </nav>
</header>