.container__scrQt{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}
.scrQt__content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 420px;
    padding: 10px;
    background-color: #3b4650;
    border-radius: 10px;
}
.meassureRecovery{
    height: 400px;
}
.meassureSettingsqts{
    height: 400px;
}
.meassureChangesqts{
    height: 400px;
}
.scrQt__content h2{
    text-align: center;
    color: #FFD93D;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.scrQt__content p{
    text-align: center;
    color:#c52224;
}
.scrQt__content .form_scrQt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.meassureRecoveryForm{
    height: 370px;
}
.meassureSettingsFormqts{
    height: 320px;
}
.meassureChangesqtsForm{
    height: 370px;
}
.form_scrQt h4{
    color: #fff;
    margin-left: 40px;
    align-self: first baseline;
}
.form_scrQt label{
    width: 90%;
    text-align: center;
}
.form_scrQt select{
    background: transparent;
    border: none;
    outline: none;
    color: rgba(247, 247, 244, 0.877);
    text-shadow: 1px 1px 2px #000;
    font-size: 1.2rem;
}
.form_scrQt select option{
    background-color: rgba(20, 20, 20, 0.932);
    border: none;
    outline: none;
}
.form_scrQt label input{
    width: 90%;
    height: 30px;
    padding: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a93638;
    outline: none;
    color: #fff;
}
.scrQtBtn{
    width: 90px;
    margin-top: 12px;
    padding: 8px;
    background-color: rgba(119, 15, 15, 0.74);
    color: #f8f8f8;
    text-shadow: 1px 2px 3px #000;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.scrQtBtn:hover{
    transition: 0.1s linear;
    background-color: rgba(218, 24, 24, 0.788);
}

.scrQt__content > .form_scrQt label >  .inputSucces{
    background-color: transparent;
    border: 1px solid rgba(4, 250, 16, 0.877);
}
.scrQt__content > .form_scrQt label >  .inputErr{
    background-color: transparent;
    border: 1px solid rgba(248, 4, 4, 0.877);
}