<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <section class="error">
        <img src="/img/fire.png" alt="error404">
        <p class="statusCode"> <span class="four_1">4</span> <span class="cero">0</span>  <span class="four_2">4</span></p>
        <h1> <span>Oops!</span> Something went wrong with this page..!!</h1>
        <h3>We have sent an email to our team in order to resolve this issue as soon as possible</h3>
        <p>If the error persists, contact us by <a href="mailto:taskappsupport@gmail.com">taskappsupport@gmail.com</a></p>
        <h5>Error: bad request</h5>
        <a href="/">Back Home</a>
    </section>
</body>
</html>