<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <section class="error">
        <!-- <img src="bear.png" alt="error404"> -->
        <img src="/img/fire.png" alt="error404">
        <p> <span class="four_1">4</span> <span class="cero">0</span>  <span class="four_2">4</span></p>
        <h1> <span>Oops!</span> Your session has expired..!!</h1>
        <h5>Error: Your token Expired</h5>
        <a href="/api/auth/signin">Go to Sign In</a>
    </section>
</body>
</html>